@(title: String, pageUrl: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="screen" href="/assets/lib/pure/pure-min.css" />
    <link rel="stylesheet" media="screen" href="/assets/lib/pure/grids-responsive-min.css" />
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css" />
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body>

    <style>#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/Technius/noteit">Fork me on GitHub</a></span>

    @navbar(pageUrl)
    <div class="pure-g main-content">
      <div class="pure-u-md-1-6 pure-u-1-24"></div>
      <div class="pure-u-md-2-3 pure-u-11-12">@content</div>
      <div class="pure-u-md-1-6 pure-u-1-24"></div>
    </div>
  </body>
</html>
